<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">

      <!-- Dropdown Trigger 1 -->
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1">
          Liste des démo Angular :
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <!-- TRIGGER 1 -->
      <ul id="dropdown1" class="dropdown-content persoDrop">
        <li>
          <a routerLink="bindings1">1. Les différents Bindings</a>
        </li>
        <li class="divider"></li>
      </ul>

      <!-- Dropdown Trigger 2 -->
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown2">
          Liste des exos :
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <!-- TRIGGER 2 -->
      <ul id="dropdown2" class="dropdown-content">
        <li>
          <a routerLink="exos01">01. Exercice</a>
        </li>
        <li class="divider"></li>
      </ul>

    </ul>
  </div>
</nav>