.tab{
min-height: 450px;
}
.displayInput{
box-shadow: 1px 8px 27px 3px rgba(156,30,30,0.61) !important;
padding: 2rem !important;
font-size: 2.5rem !important;
}

.labelperso{
    color: black !important;
    font-size: 1.5rem !important;
    font-weight: 800 !important;
}

.persoBtn{
box-shadow: 1px 8px 27px 3px rgba(156,30,30,0.61) !important;
margin: 2rem !important;
}

.rowPerso{
justify-content: center !important;
display: flex !important;
width: 90% !important;
}